<div id="message-<%= message.id%>" class="class="d-flex justify-content-start"">
  <div class="message-box-other-user bg-info">
    <h5><%= message.user.first_name %></h5>
    <p><%= message.content %></p>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </div>
</div>
