<div id="message-<%= message.id%>"
  <% if current_user != message.user %>
    class="d-flex justify-content-end"
  <% else %>
    class="d-flex justify-content-start"
  <% end %>
>
  <div
    <% if current_user != message.user %>
      class="message-box-current-user text-light"
    <% else %>
      class="message-box-other-user"
    <% end %>
  >
    <h5><%= message.user.first_name %></h5>
    <p><%= message.content %></p>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </div>
</div>
