// Define variables for your color scheme

// For example:
$red: #DF2E2E;
$blue: rgb(98, 202, 200);
$yellow: hsl(52, 99%, 50%);
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
