<div class="container my-4">
  <% @chatrooms.each do |chatroom| %>
    <div>
      <% participant = chatroom.participants.reject{ |participant| participant.user == current_user }%>
      <%= participant.first.user.first_name%> <%= participant.first.user.last_name%>
      <%= link_to "Go to Chatroom", chatroom_path(chatroom) %>
    </div>
  <% end %>
</div>
