<div class="container">
  <div class="form-item">
    <%= simple_form_for ([@subject, @chapter, @material]) do |f| %>
      <%= f.input :name %>
      <%= f.rich_text_area :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
