<div class="container">
  <div class="form-item">
    <%= simple_form_for (@schedule) do |f| %>
    <h2>Create a new schedule</h2>
      <%= f.input :content %>
      <%= f.input :date %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
