<div class="container my-4">
  <h1 class="text-center">Big Thanks!</h1>
  <div class="m-3">
    <% ["Basile", "Billy", "Dushyant", "Fabrice", "Jean-Paul", "Maelie","Marie", "Natalia", "Samuel", "Simon", "Thibaud", "Teemij"].each do |awesome_person| %>
      <h3 class="text-center"><%= awesome_person %></h3>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <div id="logo">
      <div id="frame">
        <div id="wave"></div>
        <div id="boat"></div>
      </div>
    </div>
  </div>
</div>
