<div class="container my-5">
  <h1 class="text-center"><strong>Big Thanks!</strong></h1>
  <div class="egg">
    <div class="logo">
      <div class="frame">
        <div class="wave"></div>
        <div class="boat"></div>
      </div>
      </div>
    <div class="m-3">
      <% ["Basile", "Billy", "Dushyant", "Fabrice", "Jean-Paul", "Maelie","Marie", "Natalia", "Samuel", "Simon", "Thibaud", "Teemij"].each do |awesome_person| %>
        <h3 class="text-center"><%= awesome_person %></h3>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <div class="logo frame">
        <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' %>
      </div>
    </div>
  </div>

</div>
