<div class="h-100 row align-items-center">
</div>
<div class="container">
  <h2 class="font-weight-bold">Welcome to Bateau</h2>
  <%= link_to "Enter Bateau as a Student", root_path, class: "btn btn-primary" %>
  <span> or </span><%= link_to "as a Teacher", root_path, class: "font-weight-bold" %>
</div>
