<div class="d-flex home justify-content-center">
  <div class="container my-auto">
    <h2 class="font-weight-bold">Welcome to Bateau</h2>
    <div>
      <%= link_to "Enter Bateau as a Student", root_path, class: "btn btn-primary" %>
      <span> or </span><%= link_to "as a Teacher", root_path, class: "font-weight-bold" %>
    </div>
  </div>
</div>
