<div class="d-flex vh-100">
  <div class="container my-auto">
    <h2 class="font-weight-bold text-center">Welcome to Bateau</h2>
    <br>
    <div class="text-center">
      <%= link_to "Enter as a Student", root_path, class: "btn btn-primary" %>
      <span> or </span><%= link_to "as a Teacher", root_path, class: "font-weight-bold" %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>