<div class="container">
  <h1>Subject List</h1>
  <%= link_to "Create a subject", new_subject_path, class: "btn-primary btn-lg" %>
  <div class="cards">
    <% @subjects.each do |subject| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <%= link_to subject.name, subject_path(subject) %>
          <p class= "badge badge-success"> <%= subject.category.name%> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

