<div class="container mt-4 shadow-lg p-3 mb-5 bg-light rounded p-5">
  <%= link_to subjects_path, class:'d-inline', id:'back' do%>
    <h1 class="far fa-arrow-alt-circle-left" data-toggle="tooltip" data-placement="bottom" title="Go back"></h1>
  <% end %>
  <h1 class='d-inline'>Create a new subject</h1>
  <%= render 'shared/subjectform' %>
</div>
