<%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js' %>

<div class="videos-container">
  <div id="remote-video"></div>
  <div id="local-video"></div>
  <%= link_to 'End Call', room_path(@room), method: :delete, class: "btn btn-danger buttons-panel" %>
</div>

<script>
  $(document).ready(function() {
    setTimeout(
      function() {
        joinRoom("<%= @room_name %>","<%= @token %>");
      }, 2000);
  });
</script>
