.simple-calendar {
  .table{
    th{
      text-align: center;
    }
  }

  .calendar-heading{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: white;
      padding: 8px 24px;
      background: #1EDD88;
      text-decoration: none;
      transition: background 0.3s ease;
    }
    a:hover{
      background: #1BCB7F;
      color: white;
    }
  }

  .calendar-title{
    font-size: 30px;
    opacity: 0.7;
    font-weight: 900;
  }

  .day {
    border: 0px;
    text-align: center;
    height: 100px;
    font-size: 25px;
    font-weight: 600;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    color: #F3A712;
    background-color: transparent;
  }

  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month { }
  .current-month {}
  .has-events {}

  .cal-events {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .event{
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #1BCB7F;
    border-radius: 50%;
    margin-top: 10px;
  }
}

.calendar-page{
  display: flex;
  .search-region{
    height: 80vh;
    overflow: scroll;
  }
  .calendar-region{
    height: 80vh;
  }
}

.card-calendar {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;

  .btn-info{
    position: absolute;
    right: 120px;
  }

  .btn-danger{
    position: absolute;
    right: 25px;
  }
}

.card-calendar h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-calendar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-calendar .card-calendar-infos {
  padding: 16px;
}

.create-schedule{
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
}

@media (max-width: 992px){
  .calendar-region {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .calendar-title {
    font-size: 20px !important;
  }
}
