.footer {
background: linear-gradient(hsla(204, 58%, 55%, 0.87),hsla(204, 58%, 20%, 0.87));
display: flex;
align-items: center;
justify-content: space-between;
height: 100px;
padding: 0px 50px;
font-size: 1.5em;
color: rgba(255, 255, 255, 0.815);
}

.footer-links {
display: flex;
align-items: center;
}

.footer-links a {
color: rgba(255, 255, 255, 0.815);
opacity: 0.8;
text-decoration: none;
font-size: 1.5rem;
padding: 0px 10px;
}

.footer-links a:hover {
opacity: 1;
}

.footer .fa-heart {
color: #D23333;
}
