.jumbotron{
  border: 0;
  #back{
    top: 1em;
  }
  i{
    font-size: 3em;
  }
  &#homepage{
    padding: 8rem 5rem;
    background: transparent;
    overflow: hidden;
  }
}


.chapter-container{
  h3{
    font-weight: bolder;
  }

  h2{
    font-size: 2.5rem;
    font-weight: bolder;

  }
}
