.jumbotron{
  #back{
    top: 1em;
  }
  i{
    font-size: 3em;
  }
  &#homepage{
    border-radius: 10px;
    padding: 8rem 5rem;
    background: hsla(190, 88%, 75%, 0.39);
    overflow: hidden;
  }
}
