.message-box-current-user {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: 35vw;
}

.message-box-other-user {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: 35vw;
}
.chat-form{
  height: 12vh;
  overflow: scroll;
}
#messages{
  max-height: 60vh;
  overflow: scroll;
}

.text-box {
  position: relative;
  top: 20px;
}

.text-create {
  font-weight: 700;
}
