.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-color {
  background-color: rgb(98, 202, 200);
}

.btn-link-text:hover {
  background-color: rgba(0, 187, 180, 0.7);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
